.popular__products {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 50px 0 20px 0;
}

.popular__products__icon {
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
}

.popular__products__icon img {
    width: 100%;
}


/* productCard */

.popular__products__container, .cheaper__products__container{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.productCard {
    width: 18.7%;
    border-radius: 13px;
    user-select: none;
}

.productCard:hover {
    box-shadow: 1px 1px 10px #1002;
}

.productCard:hover .productCard__figure img {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.productCard__figure {
    width: 100%;
    height: 310px;
    background: #1002;
    border-radius: 13px;
    overflow: hidden;
    position: relative;
}

.productCard__figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productCard__wishlistBtn {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.productCard__wishlistBtn img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.productCard__special {
    position: absolute;
    bottom: 5px;
    left: 5px;
    gap: 2px;
    display: flex;
    align-items: center;
}

.productCard__orginal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 0.5rem;
    font-weight: 600;
    background: #fff;
    width: 65px;
    border-radius: 3px;
    padding: 2px;
}

.productCard__orginal__icon {
    width: 13px;
    height: 13px;
}

.productCard__orginal__icon img {
    width: 100%;
    height: 100%;
}

.productCard__cheapest {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 0.5rem;
    font-weight: 600;
    background: #ff4499;
    color: #fff;
    border-radius: 3px;
    padding: 3px;
}

.productCard__content {
    width: 100%;
    padding: 5px 3px;
}

.productCard__price__with__card {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: #7f4dff;
}

.productCard__card__icon {
    width: 16px;
}

.productCard__card__icon img {
    width: 100%;
}

.productCard__price__without__card {
    font-size: 0.75rem;
    font-weight: 500;
    color: #333;
}

.productCard__price__credit {
    font-size: 0.7rem;
    background: #ffff00;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
}

.productCard__name {
    font-size: 0.8rem;
    margin: 5px 0;
}

.productCard__rating {
    display: flex;
    gap: 2px;
    font-size: 0.8rem;
    margin: 5px 2px;
}

.productCard__rating__icon {
    width: 12px;
    height: 12px;
}

.productCard__rating__icon img {
    width: 100%;
}

.productCard__rating__comments {
    color: #333;
    margin-left: 5px;
}

.productCard__new {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 0.5rem;
    font-weight: 600;
    background: #fff;
    padding: 2px;
    border-radius: 3px;
    margin: 5px 2px;
}

.productCard__new__icon {
    width: 12px;
    height: 12px;
}

.productCard__new__icon img {
    width: 100%;
}

.productCard__cartBtn {
    width: 100%;
    height: 32px;
    background: #672bff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 7px;
    gap: 3px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.productCard__cartBtn:hover {
    transition: all 0.1s ease-in-out;
    background: #7f4dff;
}

.productCard__cartBtn__icon {
    width: 17px;
    height: 17px;
}

.productCard__cartBtn__icon img {
    width: 100%;
}

.show__more {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 60%;
    height: 55px;
    background: #1001;
    color: #000;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 40px auto;
}

.show__more:hover {
    transition: all 0.1s ease-in-out;
    background: #1002;
}